* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor01: #3b2a21;
    --cor02: #b68b4c;
    --cor03: #e7d3b0;
    --cor04: #150D09;
    --cor05: #663600;
    --cor06: #a04800;
    --cor07: #fff6e6;
    --cor08: #3b2a2194;
    --cor09: #111;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--cor07);
    overflow-x: hidden;
}

nav#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav#menu ul {
    list-style: none;
    display: flex;
    padding: 10px;
    background: #00000091;
    justify-content: center;
}

nav#menu a {
    margin: 10px;
    text-decoration: none;
    color: var(--cor02);
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Roboto', sans-serif;
}

nav#menu a:hover {
    background-color: var(--cor02);
    color: var(--cor01);
}

.inicio {
    width: 100%;
    height: 90vh;
    max-height: 900px;
    margin: auto;

    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(20, 13, 0, 0.363)), url("../img/banner01.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    animation: slideText 1.2s ease forwards;

    text-align: start;
    padding: 0 20px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 30px;
    animation: slideText 1.2s ease forwards;

    text-align: start;
    padding: 0 20px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-top: 10px;
    padding: 15px 35px;
    background: var(--cor02);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: .3s;
    margin-left: 20px;
    box-shadow: 0 2px 10px var(--cor05);
    letter-spacing: 1px;
}

.btn:hover {
    transform: scale(1.05);
    background: var(--cor05);
}

img {
    padding-top: 30px;
    display: block;
    margin: auto;
}

.content {
    color: white;
}

.cards {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: -120px;
    position: relative;
    z-index: 100;
}

.card {
    background: radial-gradient(var(--cor03) 0%, var(--cor02) 80%, rgb(150, 95, 43) 100%);
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;

}

.card img {
    width: 30%;
    object-fit: cover;
    border-radius: 5px;
}

.card p {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 15px;
    line-height: 1.5;
}

.informacao {
    padding: 50px 20px;
    text-align: center;

    img {
        padding-bottom: 80px;
    }
}

.info {

    h1 {
        color: var(--cor01);
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        text-align: center;
    }

    p {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        margin-top: 20px;
        line-height: 1.5;
        max-width: 1200px;
        margin: auto;
    }
}

.social {
    width: 50px;
    padding-top: 20px;
}

.galeria {
    padding-bottom: 20px;
    padding-left: 15px;
    background-color: var(--cor03);
}

.desGale {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 15px;
    max-width: 900px;
    margin: auto;
    color: var(--cor01);
}

.fotos {
    position: relative;
    width: 95%;
    height: 700px;
    margin: auto;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

.fotos img {

    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 700px;
    margin: auto;
    object-fit: contain;
    opacity: 0;
    transition: 0.5s;
}

.fotos img.active {

    opacity: 1;
}

.fotos button {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background: rgba(206, 155, 89, 0.781);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 20px;
}

.fotos button:hover {

    background: var(--cor02);
}

.prev {
    left: 10px;
}

.next {
    right: 37px;
}

.fotos img:hover {

    transform: scale(1.03);

}

/* esconde a barra de rolagem*/
.fotos::-webkit-scrollbar {
    display: none;
}

.agendar {
    width: 100%;
    height: 350px;
    background-image: url(../img/mdr1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

}

.conteudo {
    z-index: 2;
    color: white;
}

.conteudo h1 {
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(34, 20, 0, 0.7)
}

iframe {
    width: 100%;
    height: 450px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 0 20px;
}

.localizacao {
    p {
        padding-bottom: 50px;
    }
}



#local {
    h2 {
        font-family: 'Roboto', sans-serif;
        color: var(--cor01);
        padding-left: 20px;
    }

    p {
        font-family: 'Roboto', sans-serif;
        color: var(--cor01);
        padding-left: 20px;
    }
}

footer{
    background:var(--cor09);
    color:white;
    padding:50px 40px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
    gap:150px;

    P{
        font-size:0.8rem;
    }
}

.footer-left{

    max-width:400px;
}

.footer-left img{
    width:100px;
    margin-bottom:20px;
}

.footer-right{
    
    text-align:right;
}



.criador{
    font-size:0.8rem;
    text-align:center;
    padding-top:20px;
}

.criador a{
    color:#c59d5f;
    text-decoration:none;
    
}

@keyframes slideText {

    from {
        transform: translateX(-50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media(max-width:800px) {

    .cards {
        flex-direction: column;
        align-items: center;
        margin-top: -10px;

    }

    .card {
        width: 90%;

        padding: 15px;
    }

    .card img {
        width: 20%;
        height: auto;
    }

    .fotos {

        width: 95%;
        height: 700px;
        margin: auto;

    }

    .fotos img {

        object-position: center;
    }

    .fotos button {
        font-size: 1.5rem;
        padding: 10px;
        background: rgba(206, 155, 89, 0.39);
        color: white;
    }

    .agendar {

        background-image: url(../img/mdr2.png);
        height: 250px;
    }

    .conteudo h1 {
        font-size: 1.3rem;
        max-width: 650px;
    }

      footer{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align:center;
        gap:15px;
        padding:30px 15px;
    }

    .footer-left, .footer-right{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:10px;
    }

    .footer-left p,.footer-right p{
        margin:0;
    }

    .footer-left img{
        margin-bottom:10px;
    }

}